
.browser-view .x-panel-body{
	background: white;
	font: 11px Arial, Helvetica, sans-serif;
}
.browser-view .thumb{
	background: #FFFFFF;
	padding: 3px;
}
.browser-view .thumb .item {
    width:70px;
    height:53px;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    background-image:url(../img/file_48.png);
    border:1px solid #ffffff;
    background-position:50% 2px;
}
.browser-view .thumb img{
	height: 60px;
	width: 80px;
}
.browser-view .thumb-wrap{
	float: left;
	margin: 4px;
	margin-right: 0;
    border:1px solid white;
	xpadding: 5px;
}
.browser-view .thumb-wrap span{
	display: block;
	overflow: hidden;
	text-align: center;
}

.browser-view .x-view-over{
    border:1px solid #dddddd;
    background: #efefef url("http://lib.chewam.net/ext/resources/images/default/grid/row-over.gif") repeat-x left top;
	xpadding: 4px;
}

.browser-view .x-view-selected{
	background: #eff5fb url("../img/selected.gif") no-repeat right bottom;
	border:1px solid #99bbe8;
	xpadding: 4px;
}
.browser-view .x-view-selected .thumb, .browser-view .x-view-over .thumb {
	background:transparent;
}

.browser-view .loading-indicator {
	font-size:11px;
	background-image:url("http://lib.chewam.net/ext/resources/images/default/grid/loading.gif");
	background-repeat: no-repeat;
	background-position: left;
	padding-left:20px;
	margin:10px;
}
