
/* ICONS
***********************************************************************************************************************/

.icon-close {
    background: transparent url(http://lib.chewam.com/ext/resources/images/default/panel/tool-sprites.gif) no-repeat 0px 0px !important;
    height:15px !important;
    width:15px !important;
}

.icon-file-png, .icon-file-gif, .icon-file-jpg {
    background-image:url("http://cdn.iconfinder.net/data/icons/oxygen/16x16/mimetypes/image-x-photo-cd.png") !important;
    background-repeat:no-repeat;
}
.icon-file-png-64, .icon-file-gif-64, .icon-file-jpg-64 {
    background-image:url("http://cdn.iconfinder.net/data/icons/oxygen/48x48/mimetypes/image-x-photo-cd.png") !important;
    background-repeat:no-repeat;
}

.icon-file-csv, .icon-file-xls {
    background-image:url("http://cdn.iconfinder.net/data/icons/oxygen/16x16/mimetypes/application-vnd.ms-excel.png") !important;
    background-repeat:no-repeat;
}
.icon-file-csv-64, .icon-file-xls-64 {
    background-image:url("http://cdn.iconfinder.net/data/icons/oxygen/48x48/mimetypes/application-vnd.ms-excel.png") !important;
    background-repeat:no-repeat;
}

.icon-file-exe {
    background-image:url("http://cdn.iconfinder.net/data/icons/humano2/16x16/mimetypes/exec.png") !important;
    background-repeat:no-repeat;
}
.icon-file-exe-64 {
    background-image:url("http://cdn.iconfinder.net/data/icons/humano2/48x48/mimetypes/exec.png") !important;
    background-repeat:no-repeat;
}

.icon-file-pdf {
    background-image:url("http://cdn.iconfinder.net/data/icons/oxygen/16x16/mimetypes/application-pdf.png") !important;
    background-repeat:no-repeat;
}
.icon-file-pdf-64 {
    background-image:url("http://cdn.iconfinder.net/data/icons/oxygen/48x48/mimetypes/application-pdf.png") !important;
    background-repeat:no-repeat;
}


.icon-file-txt { 
    background-image:url("http://cdn.iconfinder.net/data/icons/humano2/16x16/mimetypes/text-css.png") !important;
    background-repeat:no-repeat;
}
.icon-file-txt-64 { 
    background-image:url("http://cdn.iconfinder.net/data/icons/humano2/48x48/mimetypes/text-css.png") !important;
    background-repeat:no-repeat;
}

.icon-file-zip, .icon-file-rar, .icon-file-tar, .icon-file-tgz, .icon-file-gz { 
    background-image:url("http://cdn.iconfinder.net/data/icons/oxygen/16x16/mimetypes/tar.png") !important;
    background-repeat:no-repeat;
}
.icon-file-zip-64, .icon-file-rar-64, .icon-file-tar-64, .icon-file-tgz-64, .icon-file-gz-64 {
    background-image:url("http://cdn.iconfinder.net/data/icons/oxygen/48x48/mimetypes/tar.png") !important;
    background-repeat:no-repeat;
}

.icon-file-avi, .icon-file-mp4, .icon-file-mpeg, .icon-file-mkv {
    background-image:url("http://cdn.iconfinder.net/data/icons/oxygen/16x16/mimetypes/video-x-ms-wmv.png") !important;
    background-repeat:no-repeat;
}
.icon-file-avi-64, .icon-file-mp4-64, .icon-file-mpeg-64, .icon-file-mkv-64 {
    background-image:url("http://cdn.iconfinder.net/data/icons/oxygen/48x48/mimetypes/video-x-ms-wmv.png") !important;
    background-repeat:no-repeat;
}

.icon-file-nzb {
    background-image:url("http://cdn.iconfinder.net/data/icons/humano2/16x16/mimetypes/application-x-nzb.png") !important;
    background-repeat:no-repeat;
}
.icon-file-nzb-64 {
    background-image:url("http://cdn.iconfinder.net/data/icons/humano2/48x48/mimetypes/application-x-nzb.png") !important;
    background-repeat:no-repeat;
}

.icon-file-html {
    background-image:url("http://cdn.iconfinder.net/data/icons/oxygen/16x16/mimetypes/application-xml.png") !important;
    background-repeat:no-repeat;
}
.icon-file-html-64 {
    background-image:url("http://cdn.iconfinder.net/data/icons/oxygen/48x48/mimetypes/application-xml.png") !important;
    background-repeat:no-repeat;
}

.icon-file-flv,  .icon-file-swf {
    background-image:url("http://cdn.iconfinder.net/data/icons/CS5/16/document_swf_file_document.png") !important;
    background-repeat:no-repeat;
}
.icon-file-flv-64, .icon-file-swf-64 {
    background-image:url("http://cdn.iconfinder.net/data/icons/CS5/48/document_swf_file_document.png") !important;
    background-repeat:no-repeat;
}

.icon-wrench {
    background-image:url(../img/wrench.png) !important;
}

.icon-computer-link { 
background-image:url(../img/computer_link.png) !important;
}

.icon-upload { 
background-image:url(../img/up.png) !important;
background-position:0px 1px !important;
}

.icon-folder-add {
background-image:url(../img/folder_add.png) !important;
}

.icon-collapse-all {
background-image:url(../img/collapse-all.gif) !important;
}

.icon-expand-all {
background-image:url(../img/expand-all.gif) !important;
}

.icon-open-blank {
background-image:url(../img/application_cascade.png) !important;
}

.icon-open-download {
background-image:url(../img/application_put.png) !important;
}

.icon-open {
background-image:url(../img/application_go.png) !important;
}

.icon-open-popup {
background-image:url(../img/application_double.png) !important;
}

.icon-open-self {
background-image:url(../img/application.png) !important;
}

.icon-refresh {
background-image:url(../img/arrow_refresh.png) !important;
}

.icon-pencil {
background-image:url(../img/pencil.png) !important;
}

.icon-cross {
background-image:url(../img/cross.png) !important;
}

.icon-upload {
background-image:url(../img/up.png) !important;
}

.icon-plus {
background-image:url(../img/add.png) !important;
}

.icon-folder-explore {
background-image:url(../img/folder_explore.png) !important;
}

.icon-up {
background-image:url(../img/arrow_up.png) !important;
}

.icon-previous {
background-image:url(../img/resultset_previous.png) !important;
}

.icon-next {
background-image:url(../img/resultset_next.png) !important;
}

.icon-view {
background-image:url(../img/application_view_tile.png) !important;
}

.icon-list {
background-image:url(../img/application_view_list.png) !important;
}

.icon-row-file {
padding-left:20px;
background-position:0 -2px;
background-image:url(../img/leaf.gif) !important;
background-repeat:no-repeat;
}

.icon-row-folder {
padding-left:20px;
background-position:0 -2px;
background-image:url("../img/folder_16.png") !important;
background-repeat:no-repeat;
}

.x-tree-node-collapsed .x-tree-node-icon, .row-folder {
background-image:url(../img/folder_16.png)  ;
}

.x-tree-node-expanded .x-tree-node-icon {
background-image:url(../img/folder-open_16.png) ;
}

.x-tree-node-leaf .x-tree-node-icon, .row-file {
background-image:url("http://cdn.iconfinder.net/data/icons/oxygen/16x16/mimetypes/document.png");
}

.thumb .folder {
    background-image:url(../img/folder_64.png) !important;
    background-position:50% -8px !important;
}

.thumb .file {
background-image:url(http://cdn.iconfinder.net/data/icons/oxygen/48x48/mimetypes/document.png) !important;
}

.row-file, .row-folder {
  padding-left:20px;
  padding-top:3px;
  background-repeat: no-repeat;
}

.image-preview div {
  padding:0px !important;
  cursor: default !important;
}

.image-preview .x-toolbar {
  padding:1px !important;
  background:#D0DEF0 url(http://lib.chewam.com/ext/resources/images/default/toolbar/bg.gif) repeat-x scroll left top;
  filter : alpha(opacity=80);
  -moz-opacity : 0.8;
  opacity : 0.8;
}

.image-preview .x-toolbar div {
  border:0px;
}

.x-dd-drag-proxy {
    background-color:#FFFFFF;
}

/* DATAVIEW
***********************************************************************************************************************/


.browser-view .x-panel-body{
	background: white;
	font: 11px Arial, Helvetica, sans-serif;
}
.browser-view .thumb{
	background: #FFFFFF;
	padding: 3px;
}
.browser-view .thumb .item {
    width:70px;
    height:51px;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    background-image:url(http://cdn.iconfinder.net/data/icons/oxygen/48x48/mimetypes/document.png);
    border:1px solid #ffffff;
    background-position:50% 2px;
}
.browser-view .thumb img{
	height: 60px;
	width: 80px;
}
.browser-view .thumb-wrap{
	float: left;
	margin: 4px;
	margin-right: 0;
    border:1px solid white;
	xpadding: 5px;
}
.browser-view .thumb-wrap span{
	display: block;
	overflow: hidden;
	text-align: center;
    font:13px arial,tahoma,helvetica,sans-serif;
}

.browser-view .x-view-over{
    border:1px solid #dddddd;
    background: #efefef url("http://lib.chewam.net/ext/resources/images/default/grid/row-over.gif") repeat-x left top;
	xpadding: 4px;
}

.browser-view .x-view-selected{
	background: #eff5fb url("../img/selected.gif") no-repeat right bottom;
	border:1px solid #99bbe8;
	xpadding: 4px;
}
.browser-view .x-view-selected .thumb, .browser-view .x-view-over .thumb {
	background:transparent;
}

.browser-view .loading-indicator {
	font-size:11px;
	background-image:url("http://lib.chewam.net/ext/resources/images/default/grid/loading.gif");
	background-repeat: no-repeat;
	background-position: left;
	padding-left:20px;
	margin:10px;
}

